.navbar {
  z-index: 999;
  background-color: #fff;
}
.navbar__menu-list .active {
  color: #333333;
  background-color: #8df3fe;
}

.navbar__menu-link:hover:after {
  width: calc(100% - 20px);
  opacity: 1;
  visibility: visible;
}

.navbar__info-link {
  color: #004080;
}

.navbar__menu-link {
  font-weight: 500;
  font-size: 20px;
}
y .navbar__list-language {
  animation: navbarLanguage ease-in 0.2s;
}

.navbar__list-language {
  background-color: #ccc;
}

.navbar_hotline {
  font-size: 18px;
  font-weight: 500;
}

@keyframes navbarLanguage {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
