/* PC */
@media (min-width: 64em) {
  .btn-menu {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  #check {
    display: none;
  }

  .nav-btn {
    display: none;
  }
}

/* MOBILE && TABLET */
@media (max-width: 63.9375em) {
  .main-wrap {
    margin-top: 64px;
  }
  .navbar {
    height: 160px;
  }

  .navbar__menu-list {
    display: none;
  }
  .navbar__btn-language {
    padding: 0 16px;
  }

  .btn {
    width: 140px;
    height: 40px;
  }

  /* Banner */
  .home__banner {
    height: 60vh;
  }
  .navbar__info-item {
    flex-direction: column;
  }

  .navbar__right-email::after {
    display: none;
  }

  .navbar__right-info {
    justify-content: space-around;
  }

  .navbar__left {
    margin-right: 10px;
  }
  .navbar__list-language {
    right: 70px;
    top: 68px;
  }

  .navbar_hotline {
    font-weight: 550 !important;
    font-size: 22px !important;
  }

  .navbar__right-info {
    justify-content: space-between;
  }

  .btn-menu {
    font-size: 40px;
    padding: 2px 16px;
  }

  .navbar__btn-language {
    padding: 10px;
  }

  .navbar__list-language {
    width: 178px;
    padding: 8px;
  }
  .navbar__btn-language img {
    width: 56px;
  }
  .navbar__btn-language i {
    font-size: 30px;
  }

  .navbar__language-item {
    padding: 16px;
  }

  .navbar__language-item img {
    width: 30px;
  }

  .navbar__language-item span {
    font-size: 22px;
  }

  .navbar__left img {
    height: 60px;
    padding: 4px 0;
  }

  .nav-btn {
    position: fixed;
    /* display: flex; */
    top: 140px;
    left: -500px;
    z-index: 99;
    height: 100%;
    background-color: #69bde7;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    animation: leftToRight linear 3s;
    transition: all 0.5s linear;
  }
  .nav-link {
    padding: 24px 30px;
    display: block;
    font-size: 30px;
    display: flex;
  }

  .nav-link li {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: #333;
  }

  .nav-link:focus {
    background-color: #0033f7;
    color: #fff;
  }

  .nav-link li i {
    padding-right: 20px;
    display: block;
    width: 34px;
    padding-right: 60px;
  }

  #sidebar {
    position: fixed;
    top: 160px;
    width: 500px;
    height: 100%;
    background: #262626;
    left: -500px;
    transition: all 0.6s linear;
  }
  #sidebar.active {
    left: 0px;
  }
  #sidebar ul {
    margin-top: 80px;
    border-top: 4px solid rgba(31, 198, 14, 0.6);
  }
  #sidebar ul li {
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
  }
  #sidebar .toggle-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: #666;
  }
  #sidebar .toggle-btn i {
    color: #fff;
    height: 20px;
    font-size: 60px;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Banner */
  .slogan-top {
    font-size: 30px !important;
  }

  .slogan-bottom {
    font-size: 28px !important;
  }

  /* about */
  .home__about-staff {
    padding: 0 !important;
  }
  .home__about-staff iframe {
    display: none;
  }

  .home__about-paragraph {
    font-size: 22px;
  }
  /* Footer */
  .footer {
    height: 30vh !important;
  }
  .footer__support {
    width: 29% !important;
  }

  .footer__social {
    width: 40% !important;
  }

  .footer__support-phone span {
    margin: 0 0 0 4px;
  }

  .footer__contact {
    width: 31% !important;
  }

  .service__card {
  }

  .service__card img {
    display: none;
  }

  .service__intro-title {
    align-items: center;
  }

  .service__main-intro p {
    margin: 0 16px;
  }

  .service__card-text {
    width: 100%;
  }

  .service__intro-paragraph {
    font-size: 18px !important;
  }

  .service__slider-left {
    width: 40%;
  }

  .service__slider-right {
    width: 60%;
  }

  .service__slider-title {
    font-size: 25px;
  }

  /* About */
  .about__intro img {
    display: none;
  }

  .about__intro-right {
    width: 100%;
    border-radius: 10px;
  }

  .about__bottom-top img {
    height: 250px;
  }

  .about__right-title {
    margin-left: 20px;
  }

  .about__item-group {
    flex-direction: column;
  }

  .bottom-item {
    width: 100%;
    padding: 0 28px 12px 20px;
  }

  .about__item-group {
    padding: 0;
  }

  .item__odd .about__item,
  .item__odd .item-text-1 {
    background: #cdc2ae;
  }

  .item__odd .item-1-number {
    color: #674a2c;
    border: 3px solid #674a2c;
  }

  .item__odd .item-text-1 {
    color: #000;
  }

  .item__even,
  .item__even .item-1-number {
    color: #fff;
    border: 3px solid #fff;
  }

  .item__even .item-text-1,
  .item__even .about__item {
    background: #674a2c;
  }

  /* Price */

  .price {
    height: 60vh;
  }

  .sidebar__link {
    padding: 16px 0;
    font-size: 18px;
  }
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .main-wrap {
    margin-top: 64px;
  }
  .navbar {
    height: 160px;
  }

  .navbar__menu-list {
    display: none;
  }
  .navbar__btn-language {
    padding: 0 16px;
  }

  .btn {
    width: 140px;
    height: 40px;
  }

  /* Banner */
  .home__banner {
    height: 60vh;
  }
  .navbar__info-item {
    flex-direction: column;
  }

  .navbar__right-email::after {
    display: none;
  }

  .navbar__right-info {
    justify-content: space-around;
  }

  .navbar__left {
    margin-right: 10px;
  }
  .navbar__list-language {
    right: 70px;
    top: 68px;
  }

  .navbar_hotline {
    font-weight: 550 !important;
    font-size: 22px !important;
  }

  .navbar__right-info {
    justify-content: space-between;
  }

  .btn-menu {
    font-size: 50px;
    padding: 2px 16px;
  }

  .navbar__btn-language {
    padding: 10px;
  }

  .navbar__list-language {
    width: 178px;
    padding: 8px;
  }
  .navbar__btn-language img {
    width: 56px;
  }
  .navbar__btn-language i {
    font-size: 30px;
  }

  .navbar__language-item {
    padding: 16px;
  }

  .navbar__language-item img {
    width: 30px;
  }

  .navbar__language-item span {
    font-size: 22px;
  }

  .navbar__left img {
    height: 120px;
    padding: 4px 0;
  }

  .nav-btn {
    position: fixed;
    /* display: flex; */
    top: 140px;
    left: -500px;
    z-index: 99;
    height: 100%;
    background-color: #69bde7;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    animation: leftToRight linear 3s;
    transition: all 0.5s linear;
  }
  .nav-link {
    padding: 24px 30px;
    display: block;
    font-size: 30px;
    display: flex;
  }

  .nav-link li {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: #333;
  }

  .nav-link:focus {
    background-color: #0033f7;
    color: #fff;
  }

  .nav-link li i {
    padding-right: 20px;
    display: block;
    width: 34px;
    padding-right: 60px;
  }

  #sidebar {
    position: fixed;
    top: 160px;
    width: 500px;
    height: 100%;
    background: #262626;
    left: -500px;
    transition: all 0.6s linear;
  }
  #sidebar.active {
    left: 0px;
  }
  #sidebar ul {
    margin-top: 80px;
    border-top: 4px solid rgba(31, 198, 14, 0.6);
  }
  #sidebar ul li {
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
  }
  #sidebar .toggle-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background-color: #666;
  }
  #sidebar .toggle-btn i {
    color: #fff;
    height: 20px;
    font-size: 60px;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Banner */
  .slogan-top {
    font-size: 30px !important;
  }

  .slogan-bottom {
    font-size: 28px !important;
  }

  /* about */
  .home__about-staff iframe {
    display: none;
  }

  /* Footer */
  .footer {
    height: 30vh !important;
  }
  .footer__support {
    width: 29% !important;
  }

  .footer__social {
    width: 40% !important;
  }

  .footer__support-phone span {
    margin: 0 0 0 4px;
  }

  .footer__contact {
    width: 31% !important;
  }

  .service__card {
  }

  .service__card img {
    display: none;
  }

  .service__intro-title {
    align-items: center;
  }

  .service__card-text {
    width: 100%;
  }

  .service__intro-paragraph {
    font-size: 18px !important;
  }

  .service__slider-left {
    width: 40%;
  }

  .service__slider-right {
    width: 60%;
  }

  .service__slider-title {
    font-size: 25px;
  }

  /* About */
  .about__intro img {
    display: none;
  }

  .about__intro-right {
    width: 100%;
    border-radius: 10px;
  }

  .about__bottom-top img {
    height: 250px;
  }

  .about__right-title {
    margin-left: 20px;
  }

  .about__item-group {
    flex-direction: column;
  }

  .bottom-item {
    width: 100%;
    padding: 0 28px 12px 20px;
  }

  .about__item-group {
    padding: 0;
  }

  .item__odd .about__item,
  .item__odd .item-text-1 {
    background: #cdc2ae;
  }

  .item__odd .item-1-number {
    color: #674a2c;
    border: 3px solid #674a2c;
  }

  .item__odd .item-text-1 {
    color: #000;
  }

  .item__even,
  .item__even .item-1-number {
    color: #fff;
    border: 3px solid #fff;
  }

  .item__even .item-text-1,
  .item__even .about__item {
    background: #674a2c;
  }

  /* Price */

  .price___sidebar {
    width: 40%;
  }
  .price__form form {
    padding: 0 16px;
    margin: 40px 20px;
  }
  .sidebar__link {
    padding: 16px 0;
    font-size: 18px;
  }
}

/* MOBILE */
@media (max-width: 46.1875em) {
  .btn {
    width: 110px;
  }
  .main-wrap {
    margin-top: 14px;
  }
  .navbar {
    height: 110px;
  }
  .navbar__btn-language,
  .navbar__info-item {
    display: none;
  }

  .navbar__left img {
    max-width: 240px;
    height: 82px;
  }

  .navbar__right-info {
    display: block;
    justify-content: none;
    margin: 0;
  }

  .navbar__right {
    flex: 0;
  }

  .nav-link li {
    font-size: 24px;
  }

  #sidebar ul {
    margin-top: 60px;
  }

  #sidebar.active {
    width: 100%;
  }

  #sidebar {
    top: 0;
  }

  .home-service {
    margin: 10px 30px;
  }

  .about__banner,
  .about__banner-slider,
  .service__slider-left,
  .service__slider-right,
  .service__banner-slider,
  .service__banner {
    height: 18rem;
  }

  .service-description {
    font-size: 16px;
    font-weight: 500;
  }

  .home-service-title {
    margin-top: 40px;
  }

  .home__about {
    margin: 0 30px;
  }

  .home__about-staff {
    padding: 0;
  }

  .home__about-paragraph {
    font-size: 20px;
  }

  .nav-link {
    padding: 0 20px;
  }

  .home__banner {
    height: 40vh;
  }

  .banner-slogan {
    top: 20px !important;
  }

  .slogan-top {
    font-size: 20px !important;
  }

  .slogan-bottom {
    font-size: 18px !important;
  }

  .home-contact-title {
    margin: 0;
  }

  .service__main {
    margin: 20px 0;
  }

  .service__intro-title {
    font-size: 30px;
  }

  .service__slider-right,
  .service__slider-left {
    width: 50%;
  }

  .service__slider-title {
    font-size: 16px;
  }

  .service__slider-title::after {
    width: 90px;
  }

  /* About */
  .about__main {
    margin: 34px 20px;
  }
  .about__bottom-list {
    margin-bottom: 30px;
    padding: 0 2px;
  }

  .bottom-item {
    padding: 12px 2px 0;
  }

  .about__item-1 {
    width: 70px;
    height: 70px;
  }

  .item-1-number {
    width: 50px;
    height: 50px;
    font-size: 32px;
    font-weight: 700;
  }

  .item-text-1 {
    padding: 14px 15px;
    font-size: 12px;
  }

  .item-text-1::before {
    top: -18px;
    left: -72px;
    width: 80px;
    height: 80px;
  }

  .item-text-1::after {
    border-width: 26px;
    right: -1px;
  }

  /* Price */
  .price {
    height: 85vh;
  }
  .price__form {
    width: 100%;
  }

  .price__form form {
    margin: 40px 20px;
    padding: 10px 20px;
  }
  .price___sidebar {
    display: none;
  }

  /* footer */
  .footer {
    height: 40vh !important;
    flex-direction: column-reverse;
  }

  .footer__support {
    display: none;
  }

  .footer__contact {
    margin-top: 20px;
  }
  .footer__social {
    top: 0 !important;
  }

  .footer__contact-title {
    font-size: 18px !important;
  }

  .footer__contact,
  .footer__social {
    width: 100% !important;
  }
}
